ACTION=="add",SUBSYSTEMS=="usb", ATTRS{idVendor}=="0922", ATTRS{idProduct}=="0021", PROGRAM="/bin/bash @ALFIO_UTILS_DIR@/device-name.sh $attr{serial} LW450T" SYMLINK+="usb/Alfio-DYM-%c" RUN+="@ALFIO_UTILS_DIR@/init-printer.sh $attr{serial} DYM LW450T $attr{busnum} $attr{devnum} $attr{idVendor} $attr{idProduct}"
ACTION=="add",SUBSYSTEMS=="usb", ATTRS{idVendor}=="0a5f", ATTRS{idProduct}=="011c", PROGRAM="/bin/bash @ALFIO_UTILS_DIR@/device-name.sh $attr{serial} ZD410" SYMLINK+="usb/Alfio-ZBR-%c" RUN+="@ALFIO_UTILS_DIR@/init-printer.sh $attr{serial} ZBR ZD410 $attr{busnum} $attr{devnum} $attr{idVendor} $attr{idProduct}"
ACTION=="add",SUBSYSTEMS=="usb", ATTRS{idVendor}=="0a5f", ATTRS{idProduct}=="0181", PROGRAM="/bin/bash @ALFIO_UTILS_DIR@/device-name.sh $attr{serial} ZD411" SYMLINK+="usb/Alfio-ZBR-%c" RUN+="@ALFIO_UTILS_DIR@/init-printer.sh $attr{serial} ZBR ZD411 $attr{busnum} $attr{devnum} $attr{idVendor} $attr{idProduct}"
ACTION=="add",SUBSYSTEMS=="usb", ATTRS{idVendor}=="1504", ATTRS{idProduct}=="0064", PROGRAM="/bin/bash @ALFIO_UTILS_DIR@/device-name.sh $attr{serial} TX220" SYMLINK+="usb/Alfio-BXL-%c" RUN+="@ALFIO_UTILS_DIR@/init-printer.sh $attr{serial} BXL TX220 $attr{busnum} $attr{devnum} $attr{idVendor} $attr{idProduct}"
