<div class="container-fluid">
  <div class="d-flex flex-row flex-lg-column justify-content-start justify-content-lg-between">
    <div class="d-none d-lg-block">
      <div class="d-flex flex-row">
        <img src="../../../assets/logo-alfio-pi.png" class="align-self-start img-fluid">
        <div class="align-self-end ml-2">
          <p>Scan tickets offline and print badges for your event!</p>
        </div>
      </div>
    </div>
    <alfio-sidebar [event]="eventSelectionListener | async"></alfio-sidebar>
    <div class="ml-2 d-flex flex-column align-self-stretch w-100">
      <ng-content></ng-content>
    </div>
  </div>
</div>
