#
# This file is part of alf.io.
#
# alf.io is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# alf.io is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with alf.io.  If not, see <http://www.gnu.org/licenses/>.
#

## master server
master.url=https://url-of-master

# generate an API Key on your Alf.io instance and put it here:
master.apiKey=your-api-key

# [legacy mode] use username and password
#master.username=pi-agent
#master.password=password

##db config (HSQL)
jdbc.url=jdbc:hsqldb:mem:db/alfio
jdbc.username=sa
jdbc.password=

events.filter=
checkIn.forcePaymentOnSite=

# see https://getbootstrap.com/docs/4.1/utilities/colors/#background-color for the available colors
checkIn.color.default=success

#To apply a specific color, define the key, which is
#checkIn.color.category.
# + your category name (only ASCII chars, kebab-case. Please check backend/src/test/kotlin/alfio/pi/ApplicationTest.kt for some corner-case samples)
#
#checkIn.color.category.long-category-name=warning
#
# please do not use "danger" as category color, as it will be confusing for the operator (danger is used to display errors). You have been warned.

#Ticket Categories Blacklist
#if you want to disable offline check-in for some categories, enter their comma-separated keys (see checkIn.color for details), e.g.
#checkIn.categories.blacklist=long-category-name-1,long-category-name-2