<!--
  ~ This file is part of alf.io.
  ~
  ~ alf.io is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ alf.io is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with alf.io.  If not, see <http://www.gnu.org/licenses/>.
  -->
<alfio-responsive-layout>
  <div class="d-flex mt-3 h-100">
    <div class="card w-100">
      <div class="card-header d-flex justify-content-between">
        <h3>Reprint Badge</h3>
      </div>
      <div class="card-block">
        <loading-indicator [observable]="progressManager.observable"></loading-indicator>
      </div>
      <div class="w-100 h-100 d-flex flex-column justify-content-center" *ngIf="content">
        <div class="row">
          <div class="col"></div>
          <div class="col-md-8">
            <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="content.firstRow" name="firstRow" virtualKeyboard>
                    </div>
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="content.secondRow" name="secondRow" virtualKeyboard>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="w-100 h-100 text-center">
                      <qr-code [value]="content.qrContent" [size]="100"></qr-code>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <input class="form-control" [(ngModel)]="content.thirdRow" name="thirdRow" virtualKeyboard>
                  </div>
                  <div class="col-md-4 text-center"><input class="form-control" [(ngModel)]="content.partialID" name="thirdRow" virtualKeyboard></div>
                </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="w-100 text-center">
          <div ngbDropdown class="hidden-md-down">
            <button class="btn btn-outline-warning" id="dropdownMenu1" ngbDropdownToggle><i class="fa fa-print"></i> <span class="sr-only">Print</span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <div *ngFor="let printer of printers; last as isLast">
                <button class="dropdown-item" (click)="reprint(printer)">{{printer.name}}</button>
                <div class="dropdown-divider" *ngIf="!isLast"></div>
              </div>
            </div>
          </div>
          <div class="hidden-lg-up d-flex justify-content-around mt-5">
            <a class="btn btn-outline-secondary" [routerLink]="['/scan-log/view']"><i class="fa fa-backward"></i> back</a>
            <button class="btn btn-outline-warning" (click)="reprint()"><i class="fa fa-print"></i> Print</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</alfio-responsive-layout>
