<div class="container d-flex flex-column justify-content-around">
  <div class="d-flex justify-content-start">
    <img src="../../../assets/logo-alfio-pi.png">
    <div class="align-self-end ml-2">
      <p>Scan tickets offline and print badges for your event!</p>
    </div>
  </div>

  <div class="d-flex mb-3">
    <event-list class="w-100"></event-list>
  </div>
  <div class="d-flex justify-content-between">
    <user-list class="w-50"></user-list>
    <printer-list class="w-75 ml-2"></printer-list>
  </div>
  <div class="d-flex mt-3">
    <scan-log-entries class="w-100" [maxEntries]="5"></scan-log-entries>
  </div>
</div>
