<alfio-responsive-layout>
  <div class="d-flex mt-3 h-100">
    <div class="card w-100">
      <div class="card-header d-flex justify-content-between">
        <h3>Settings</h3>
        <loading-indicator [observable]="progressManager.observable" [big]="false"></loading-indicator>
      </div>
      <div class="card-block">
        <h4 class="card-title">Label Printing</h4>
        <p class="card-text">Define how many labels are available to the printer in the current roll</p>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">
            Remaining labels:
          </label>
          <div class="col-auto">
            <input type="number" name="labelCounter" placeholder="Remaining labels" virtualKeyboard class="form-control" [(ngModel)]="labelCounter">
          </div>
          <div class="col-auto">
            <button class="btn btn-success ml-2" (click)="saveLabel()"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>
        <div class="form-group row" style="margin-top:4px">
          <label class="col-sm-4 col-form-label">Full label counter:</label>
          <div class="col-auto">
            <input type="number" name="defaultLabelCounter" placeholder="Default label counter" virtualKeyboard class="form-control" [(ngModel)]="defaultLabelCounter">
          </div>
          <div class="col-auto">
            <button class="btn btn-success ml-2" (click)="saveDefaultLabel()"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <h4 class="card-title">System Actions</h4>
        <p class="card-text">Perform actions on the device</p>
        <a routerLink="/power-off" class="btn btn-danger"><i class="fa fa-power-off"></i> Power off</a>
        <a routerLink="/system-info" class="btn btn-info"><i class="fa fa-info"></i> System info</a>
      </div>
    </div>
  </div>
</alfio-responsive-layout>
