<alfio-responsive-layout>
  <alfio-key-listener (scanStream)="onScan($event)"></alfio-key-listener>
  <!-- -->
  <div *ngIf="testMode">
    <textarea [(ngModel)]="toScan"></textarea>
    <button type="button" (click)="onScan(toScan)">Scan</button>
  </div>
  <div class="h-100 mt-2 mb-5 d-flex flex-column align-content-between">
    <div class="h-25 align-self-center">
      <div ngbDropdown>
        <button class="btn btn-lg btn-outline-success" id="dropdownMenu1" ngbDropdownToggle><i class="fa fa-qrcode"></i> <span *ngIf="!activeEvent">Select Event</span><span *ngIf="activeEvent">Check-in for: {{activeEvent.name}}</span></button>
        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenu1">
          <div *ngFor="let e of events; last as isLast" >
            <button class="dropdown-item" (click)="setActiveEvent(e)">{{e.name}}</button>
            <div class="dropdown-divider" *ngIf="!isLast"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-75 d-flex flex-column align-content-start" *ngIf="activeEvent">
      <div class="text-center mt-5 text-muted" *ngIf="!status && !loading">
        <i class="fa fa-qrcode fa-5x"></i>
        <h3>Scanning for {{activeEvent.name}}</h3>
      </div>
      <div class="text-center mt-2" *ngIf="!loading && isStatusSuccess()">
        <i class="fa fa-check-circle text-success fa-5x mb-2"></i>
        <div class="d-flex flex-column">
          <h4>{{ticket.firstName}} {{ticket.lastName}}</h4>
          <h3>{{ticket.category}}</h3>
          <span>{{ticket.email}}</span>
          <span>{{ticket.uuid}}</span>
        </div>
        <button class="btn btn-success btn-lg mt-5" (click)="nextScan()">next</button>
      </div>
      <div class="text-center mt-2 text-danger" *ngIf="!loading && isStatusError()">
        <i class="fa fa-exclamation-circle fa-5x mb-2"></i>
        <h4>{{getStatusMessage()}}</h4>
        <button class="btn btn-danger btn-lg mt-5" (click)="nextScan()">next</button>
      </div>
      <div class="mt-auto mb-auto text-center">
        <loading-indicator [observable]="progressManager.observable" [big]="true"></loading-indicator>
      </div>
    </div>
    <div *ngIf="labelCounter != null && labelCounter != ''" class="position-fixed-bottom">
      <h4 [ngClass]="{'text-danger': labelCounter < 20}">Remaining labels: {{labelCounter}}</h4>
    </div>
    <div *ngIf="labelDefaultCounter != null && labelDefaultCounter != ''" class="position-fixed-bottom-right">
      <button (click)="confirmResetLabelCounter()" class="btn btn-outline-warning btn-bottom-right">Reset label counter</button>
    </div>
  </div>
</alfio-responsive-layout>
