<alfio-responsive-layout [eventSelectionListener]="eventSelectionListener">
  <alfio-key-listener tabindex="0" #keyListener (scanStream)="onScan($event)"></alfio-key-listener>
  <!-- -->
  <div *ngIf="testMode">
    <textarea [(ngModel)]="toScan"></textarea>
    <button type="button" (click)="onScan(toScan)">Scan</button>
  </div>
  <div class="h-100 mt-2 pl-2 mb-2 d-flex flex-column align-content-between">
    <div class="align-self-center mb-2" [ngClass]="{'h-15': loading || !isStatusSuccess() || ticket == null || ticket.additionalServicesInfo.length == 0}">
      <div ngbDropdown *ngIf="!status">
        <button class="btn btn-lg btn-outline-success" id="dropdownMenu1" ngbDropdownToggle><i class="fa fa-qrcode"></i> <span *ngIf="!activeEvent">Select Event</span><span *ngIf="activeEvent">Check-in for: {{activeEvent.name}}</span></button>
        <div ngbDropdownMenu class="dropdown-menu w-100" aria-labelledby="dropdownMenu1">
          <div *ngFor="let e of events; last as isLast" >
            <button class="dropdown-item" (click)="setActiveEvent(e)">{{e.name}}</button>
            <div class="dropdown-divider" *ngIf="!isLast"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-content-start" *ngIf="activeEvent">
      <div class="text-center mt-5 text-muted" *ngIf="!status && !loading">
        <i class="fa fa-qrcode fa-5x"></i>
        <h3>Scanning for {{activeEvent.name}}</h3>
      </div>
      <div *ngIf="!loading && isStatusSuccess()" class="d-flex flex-column align-content-center w-100">
        <div class="card" [ngClass]="'card-outline-'+boxColorClass">
          <div class="card-header text-center" [ngClass]="'bg-'+boxColorClass+' '+textColorClass">
            <h2><i class="fa fa-check"></i> <ng-container *ngIf="ticket != null">{{ticket.categoryName}}</ng-container><ng-container *ngIf="ticket == null">Scan Successful</ng-container></h2>
          </div>
          <div class="card-body card-block">
            <div class="text-center">
              <div class="d-flex flex-column">
                <h4>{{ticket.firstName}} {{ticket.lastName}}</h4>
                <small>{{ticket.uuid}}</small>
              </div>
            </div>
            <div *ngIf="ticket != null && ticket.additionalServicesInfo.length > 0" class="text-center mt-1">
              <i class="fa fa-plus text-muted"></i>
            </div>
            <div *ngIf="ticket != null && ticket.additionalServicesInfo.length > 0" class="mt-1 card-group">
              <div class="card" *ngFor="let additionalService of ticket.additionalServicesInfo">
                <div class="card-header">
                  <h5>{{additionalService.count}} x {{additionalService.name}}</h5>
                </div>
                <div class="list-group list-group-flush" *ngIf="additionalService.fields">
                  <div class="list-group-item" *ngFor="let field of additionalService.fields">
                    <div class="d-flex w-100 justify-content-between">
                      <span><strong>{{field.fieldName}}</strong></span>
                      <span>{{field.fieldValue}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-white">
            <div class="w-100 text-center">
              <button class="btn btn-lg" [ngClass]="'btn-'+boxColorClass" (click)="nextScan()">dismiss</button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-2 text-warning" *ngIf="!loading && isStatusWarning()">
        <i class="fa fa-exclamation-triangle fa-4x"></i>
        <h3 class="mt-5">{{getStatusMessage()}}</h3>
        <button class="btn btn-warning btn-lg mt-5" (click)="nextScan()">dismiss</button>
      </div>
      <div class="text-center mt-2 text-danger" *ngIf="!loading && isStatusError()">
        <i class="fa fa-exclamation-circle fa-4x mb-2"></i>
        <h3>{{getStatusMessage()}}</h3>
        <hr *ngIf="ticket" />
        <div class="text-center" *ngIf="ticket">
          <div class="d-flex flex-column">
            <h5>{{ticket.categoryName}}</h5>
            <h5>{{ticket.firstName}} {{ticket.lastName}}</h5>
            <small>{{ticket.uuid}}</small>
          </div>
        </div>
        <button class="btn btn-danger btn-lg mt-5" (click)="forcePrint()" *ngIf="canPrintLabel()">force print label</button>
        <button class="btn btn-danger btn-lg mt-5" (click)="nextScan()">dismiss</button>
      </div>
      <div class="mt-auto mb-auto text-center">
        <loading-indicator [observable]="progressManager.observable" [big]="true"></loading-indicator>
      </div>
    </div>
    <div *ngIf="labelCounter != null && labelCounter != ''" class="position-fixed-bottom">
      <h4 [ngClass]="{'text-danger': labelCounter < 20}">Remaining labels: {{labelCounter}}</h4>
    </div>
    <div *ngIf="labelDefaultCounter != null && labelDefaultCounter != ''" class="position-fixed-bottom-right">
      <button (click)="confirmResetLabelCounter()" class="btn btn-outline-warning btn-bottom-right">Reset label counter</button>
    </div>
  </div>
</alfio-responsive-layout>
