<!--
  ~ This file is part of alf.io.
  ~
  ~ alf.io is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ alf.io is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with alf.io.  If not, see <http://www.gnu.org/licenses/>.
  -->
<div class="card w-100">
  <h3 class="card-header">Events</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let event of events">
      <div class="d-flex w-100 justify-content-start">
        <div><i class="fa fa-ticket fa-3x"></i></div>
        <h4 class="align-self-center ml-2 w-100 d-flex col">{{event.name}} <small class="ml-5">last update: {{event.lastUpdate | date:'medium'}}</small></h4>
        <div class="d-flex w-25 justify-content-end">
          <i class="fa fa-2x" [class.text-success]="event.active" [class.text-muted]="!event.active" [class.fa-toggle-on]="event.active" [class.fa-toggle-off]="!event.active" (click)="toggleActivation(event)"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
