/* You can add global styles to this file, and also import other style files */
@import "../node_modules/dragula/dist/dragula.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/virtual-keyboard/dist/css/keyboard.min.css";
@import "../node_modules/virtual-keyboard/dist/css/keyboard-basic.min.css";

.draggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.pointer {
  cursor: pointer;
}


virtual-keyboard > div > div {
  transform: scale(0.7);
}

md-dialog-container.mat-dialog-container {
  max-width: inherit;
}
