<div class="card w-100">
  <div class="card-header d-flex justify-content-between">
    <h3>Last {{maxEntries}} scans</h3>
    <loading-indicator [observable]="progressManager.observable"></loading-indicator>
  </div>
  <div class="card-block" *ngIf="entries.length == 0">
    <h4>No scans so far...</h4>
  </div>
  <div class="card-block" *ngIf="entries.length > 0 && enableFilter">
    <label for="term" class="sr-only">Search</label>
    <input id="term" type="text" class="form-control" [(ngModel)]="term" placeholder="Filter by First Name, Last Name or E-Mail">
  </div>
  <div class="table-responsive w-100" *ngIf="entries.length > 0">
    <table class="table table-striped w-100">
      <thead class="thead-default">
        <tr>
          <th>Event</th>
          <th>Timestamp</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th><i class="fa fa-qrcode" title="Local Status"></i></th>
          <th><i class="fa fa-globe" title="Remote Status"></i></th>
          <th><i class="fa fa-print" title="Badge printed"></i></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tr *ngFor="let ee of entries | filter:term">
        <td>{{ee.event.name}}</td>
        <td>{{ee.entry.timestamp | date:'y-MM-dd HH:mm:ss'}}</td>
        <td>{{ee.entry.ticket.firstName}}</td>
        <td>{{ee.entry.ticket.lastName}}</td>
        <td><i class="fa" [ngClass]="{'fa-check-circle text-success': ee.entry.localSuccess, 'fa-times-circle text-danger': !ee.entry.localSuccess}"></i></td>
        <td><i class="fa" [ngClass]="{'fa-check-circle text-success': ee.entry.remoteSuccess, 'fa-times-circle text-danger': !ee.entry.remoteSuccess}"></i></td>
        <td><i class="fa" [ngClass]="{'fa-check-circle text-success': ee.entry.badgePrinted, 'fa-times-circle text-danger': !ee.entry.badgePrinted}"></i></td>
        <td><i class="fa fa-print"></i></td>
      </tr>
    </table>
  </div>
  <div class="d-flex justify-content-end" *ngIf="maxEntries > 0 && entries.length > 0">
    <a class="mr-2 mb-2 btn btn-sm btn-outline-warning" [routerLink]="['/scan-log/view']">More &gt;&gt;</a>
  </div>
</div>
