<!--
  ~ This file is part of alf.io.
  ~
  ~ alf.io is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ alf.io is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with alf.io.  If not, see <http://www.gnu.org/licenses/>.
  -->
<div class="card-block">
  <form novalidate (ngSubmit)="onSubmit()" *ngIf="!displayQRCode">
    <h4><span *ngIf="displayReset">Edit</span><span *ngIf="!displayReset">Create</span> user <close-detail></close-detail></h4>
    <div class="form-group">
      <label class="sr-only" for="username">Username</label>
      <input id="username" ng-virtual-keyboard ng-virtual-keyboard-layout="alphanumeric" class="form-control mb-2 mr-sm-2 mb-sm-0" *ngIf="!displayReset" type="text" [formControl]="username" placeholder="username">
      <p class="form-control-static" *ngIf="displayReset">{{user.username}}</p>
    </div>
    <button type="button" class="btn btn-sm btn-warning" *ngIf="!displayReset" (click)="create()">Create</button>
    <button type="button" class="btn btn-sm btn-default" *ngIf="displayReset" (click)="resetPassword()">Reset Password</button>
  </form>
    <div *ngIf="displayQRCode">
      <h3 class="text-success">Success! <close-detail></close-detail></h3>
      <div class="text-xs-center align-middle">
        <h4 class="align-center">{{imageIdx+1}}/3</h4>
        <div class="align-center">
          <button class="btn btn-sm btn-default" *ngIf="isSwappingImage" (click)="stopImageSwapping()">Stop</button>
          <button class="btn btn-sm btn-default" *ngIf="!isSwappingImage" (click)="previousImage()">Show previous</button>
          <button class="btn btn-sm btn-default" *ngIf="!isSwappingImage" (click)="startImageSwapping()">Start</button>
          <button class="btn btn-sm btn-default" *ngIf="!isSwappingImage" (click)="nextImage()">Show next</button>
        </div>
        <div class="qr-code-container" [style.backgroundPositionY]="(imageIdx*-350)+'px'" [style.backgroundImage]="'url('+userQRCodeUrl+')'"></div>
        <div>
          <p><strong>username:</strong> {{user.username}}</p>
          <p><strong>password:</strong> {{getUserWithPassword().password}}</p>
        </div>
      </div>
    </div>
</div>
