<alfio-responsive-layout>
  <div class="d-flex mt-3 h-100">
    <div class="card w-100">
      <div class="card-header d-flex justify-content-between">
        <h3>System Info</h3>
      </div>
      <div class="card-block">
        <table>
          <tbody>
            <tr><th>Leader:</th><td [class.text-success]="isLeader"><i class="fa fa-check-circle" *ngIf="isLeader"></i></td></tr>
            <tr><th>Name in cluster:</th><td><span class="badge badge-primary">{{nameInCluster}}</span></td></tr>
            <tr><th>Cluster members:</th><td><span class="badge" *ngFor="let name of namesInCluster" [class.badge-primary]="name === nameInCluster" [class.badge-default]="name !== nameInCluster">{{name}}</span></td></tr>
            <tr><th>Ip addresses:</th><td>{{ipAddresses}}</td></tr>
            <tr><th>Attendee data count:</th><td>{{attendeeDataCount}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</alfio-responsive-layout>
